<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Plz send halp!!!</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/teste.css" rel="stylesheet" type="text/css" />

    <script src="~/Scripts/modernizr-2.8.3.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @Html.ActionLink("ProjW", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                    @Html.ActionLink("Tarefas", "Index", "Tarefas", new { area = "" }, new { @class = "navbar-brand" })
                    <li class="dropdown">
                        <a class="dropdown-toggle" href="#" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown">Tabelas Extras <span class="caret"></span></a>
                        <ul class="dropdown-menu navbar-inverse">
                            <li>@Html.ActionLink("Clientes", "Index", "Clientes", new { area = "" }, new { @class = "navbar-brand" })</li>
                            <li>@Html.ActionLink("Funcionários", "Index", "Funcionarios", new { area = "" }, new { @class = "navbar-brand" })</li>
                            <li>@Html.ActionLink("Tipo de tarefa", "Index", "TipoTarefas", new { area = "" }, new { @class = "navbar-brand" })</li>
                            <li>@Html.ActionLink("Tipo de prioridade", "Index", "TipoPrioridades", new { area = "" }, new { @class = "navbar-brand" })</li>
                            <li>@Html.ActionLink("Linha de tarefas", "Index", "LinhaDeTarefas", new { area = "" }, new { @class = "navbar-brand" })</li>

                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toogle" data-toggle="dropdown" href="#">Exercicios <span class="caret"></span></a>
                        <ul class="dropdown-menu navbar-inverse">
                            <li>@Html.ActionLink("A - Filtrar tarefas por cliente", "Index", "FiltrarTarefas", new { area = "" }, new { @class = "navbar-brand" })</li>
                            <li>@Html.ActionLink("B - Pesquisar tarefas por ID", "Index", "FiltrarLinhasDeTarefa", new { area = "" }, new { @class = "navbar-brand" })</li>
                            <li>@Html.ActionLink("C - Filtrar tarefas por cliente/funcionario", "Index", "FiltrarClienteFunc", new { area = "" }, new { @class = "navbar-brand" })</li>
                            <li>@Html.ActionLink("D - Apagar tarefas por id", "Index", "ApagaRegistos", new { area = "" }, new { @class = "navbar-brand" })</li>
                            <li>@Html.ActionLink("E - Apagar tarefas por id c/ confirmação", "Index", "ApagarRegistosComConfirmacao", new { area = "" }, new { @class = "navbar-brand" })</li>
                            <li>@Html.ActionLink("F - Contar registos", "Index", "ContaRegistos", new { area = "" }, new { @class = "navbar-brand" })</li>
                            <li>@Html.ActionLink("G - Listar tarefas do func. do mês actual", "Index", "F_TarefasFuncs_Mes", new { area = "" }, new { @class = "navbar-brand" })</li>
                            <li>@Html.ActionLink("X - Listar tarefas do cliente, por urgencia e datas", "Index", "F_ClientePorUrgencia", new { area = "" }, new { @class = "navbar-brand" })</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toogle" data-toggle="dropdown" href="#">Produção <span class="caret"></span></a>
                        <ul class="dropdown-menu navbar-inverse">
                            <li>@Html.ActionLink("Exercicio A", "Index", "ProducaoExercicioA", new { area = "" }, new { @class = "navbar-brand" })</li>
                            <li>@Html.ActionLink("Exercicio B", "Index", "ProducaoExercicioB", new { area = "" }, new { @class = "navbar-brand" })</li>
                            <li>@Html.ActionLink("Exercicio C", "Index", "ProducaoExercicioC", new { area = "" }, new { @class = "navbar-brand" })</li>
                            <li>@Html.ActionLink("Exercicio D", "Index", "ProducaoExercicioD", new { area = "" }, new { @class = "navbar-brand" })</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Plz send halp.</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>