@model IEnumerable<ProjW.Models.Tarefa>

@{
    ViewBag.Title = "Index";
}

<h2>Tarefas</h2>

<p>
    @Html.ActionLink("Create New", "Create")
    <table class="table table-striped">
        <tr>
            <th>Cliente</th>
            <th>Terminadas</th>
            <th>Coima</th>
            <th>Estatísticas</th>
        </tr>

        @using (Html.BeginForm())
        {
            <tr>
                <th>Filtrar por nome de cliente:</th>
                <td>@Html.RadioButton("terminos", "todas_terminos")<label> Todas</label></td>
                <td>@Html.RadioButton("coimas", "todas_coimas")<label> Todas</label></td>
                <td>Total de registos na tabela: @ViewBag.totalRegistos</td>
            </tr>
            <tr>
                <td>@Html.TextArea("filtra_cliente")</td>
                <td>@Html.RadioButton("terminos", "finalizadas")<label> Terminadas</label></td>
                <td>@Html.RadioButton("coimas", "com_coima")<label> Com coima</label></td>
                <td>Total de registos recebidos: @ViewBag.registosRecebidos</td>
            </tr>
            <tr>
                <td>Código do cliente encontrado: @ViewBag.idCliente</td>
                <td>@Html.RadioButton("terminos", "nao_finalizadas")<label> Não terminadas</label></td>
                <td>@Html.RadioButton("coimas", "sem_coima")<label> Sem coima</label></td>
                <td>radio_button terminadas: @ViewBag.btnTerminadas</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>radio_button coima: @ViewBag.btnCoima</td>
            </tr>
            <tr>
                <td><input type="submit" name="envia_dados" class="btn btn-primary" /></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        }
    </table>
    <br />
    <br />
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cliente.NomeCliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Funcionario.NomeFuncionario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoPrioridade.DesignacaoPrioridade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoTarefa.DesignacaoTipoTarefa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescritivoTarefa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Equipa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataRegisto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataLimite)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SujeitaCoima)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.ID)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Cliente.NomeCliente)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Funcionario.NomeFuncionario)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TipoPrioridade.DesignacaoPrioridade)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TipoTarefa.DesignacaoTipoTarefa)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Titulo)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DescritivoTarefa)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Equipa)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DataRegisto)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DataLimite)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.SujeitaCoima)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Estado)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
        @Html.ActionLink("Details", "Details", new { id = item.ID }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.ID })
    </td>
</tr>
}

</table>
